.main-title {
  color: blueviolet;
  text-align: center;
  font-size: 2.5em;
}
.tagline {
  color: blue;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
.featured-books {
  background-color: cadetblue;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}
.section-title {
  color: brown;
  font-size: 2em;
  margin-bottom: 10px;
}
.book-title {
  color: rgb(19, 32, 78);
  font-size: 1.2em;
  margin: 10px;
}
.contact {
  background-color: bisque;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}
.contact-info {
  color: rgb(43, 53, 106);
  font-size: 1.2em;
}
